@import
  "url("https://fonts.googleapis.com/css?family=Open+Sans:300",
  "400",
  "400i",
  "600",
  "700",
  ")",
  "url("https://fonts.googleapis.com/css?family=Open+Sans:300",
  "400",
  "400i",
  "600",
  "700",
  ")";

.popover {
  z-index               : 1060;
  display               : block;
  position              : absolute;
  top                   : 0;
  left                  : 0;
  max-width             : 276px;
  border                : 1px solid rgba(0,0,0,0.2);
  -moz-border-radius    : 0.1875rem;
  -ms-border-radius     : 0.1875rem;
  -o-border-radius      : 0.1875rem;
  -webkit-border-radius : 0.1875rem;
  border-radius         : 0.1875rem;
  background-color      : #fff;
  background-clip       : padding-box;
  text-align            : left;
  text-align            : start;
  text-decoration       : none;
  text-transform        : none;
  text-shadow           : none;
  font-family           : "Open Sans",
                          "Helvetica Neue",
                          Helvetica,
                          Arial,
                          sans-serif;
  font-size             : 0.875rem;
  font-style            : normal;
  font-weight           : 400;
  line-break            : auto;
  line-height           : 1.5;
  letter-spacing        : normal;
  white-space           : normal;
  word-break            : normal;
  word-spacing          : normal;
  word-wrap             : break-word;
}

.popover .arrow {
  display  : block;
  position : absolute;
  width    : 0.8rem;
  height   : 0.4rem;
}

.popover .arrow::after,
.popover .arrow::before {
  display      : block;
  position     : absolute;
  border-color : transparent;
  border-style : solid;
}

.popover .arrow::before {
  content      : "";
  border-width : 0.8rem;
}

.popover .arrow::after {
  content      : "";
  border-width : 0.8rem;
}

.popover.bs-popover-auto[x-placement^="top"],
.popover.bs-popover-top {
  margin-bottom : 0.8rem;
}

.popover.bs-popover-auto[x-placement^="top"] .arrow,
.popover.bs-popover-top .arrow {
  bottom : 0;
}

.popover.bs-popover-auto[x-placement^="top"] .arrow::after,
.popover.bs-popover-auto[x-placement^="top"] .arrow::before,
.popover.bs-popover-top .arrow::after,
.popover.bs-popover-top .arrow::before {
  border-bottom-width : 0;
}

.popover.bs-popover-auto[x-placement^="top"] .arrow::before,
.popover.bs-popover-top .arrow::before {
  bottom           : -0.8rem;
  margin-left      : -0.8rem;
  border-top-color : rgba(0,0,0,0.25);
}

.popover.bs-popover-auto[x-placement^="top"] .arrow::after,
.popover.bs-popover-top .arrow::after {
  bottom           : calc((0.8rem - 1px) * -1);
  margin-left      : -0.8rem;
  border-top-color : #fff;
}

.popover.bs-popover-auto[x-placement^="right"],
.popover.bs-popover-right {
  margin-left : 0.8rem;
}

.popover.bs-popover-auto[x-placement^="right"] .arrow,
.popover.bs-popover-right .arrow {
  left : 0;
}

.popover.bs-popover-auto[x-placement^="right"] .arrow::after,
.popover.bs-popover-auto[x-placement^="right"] .arrow::before,
.popover.bs-popover-right .arrow::after,
.popover.bs-popover-right .arrow::before {
  margin-top        : -0.8rem;
  border-left-width : 0;
}

.popover.bs-popover-auto[x-placement^="right"] .arrow::before,
.popover.bs-popover-right .arrow::before {
  left               : -0.8rem;
  border-right-color : rgba(0,0,0,0.25);
}

.popover.bs-popover-auto[x-placement^="right"] .arrow::after,
.popover.bs-popover-right .arrow::after {
  left               : calc((0.8rem - 1px) * -1);
  border-right-color : #fff;
}

.popover.bs-popover-auto[x-placement^="bottom"],
.popover.bs-popover-bottom {
  margin-top : 0.8rem;
}

.popover.bs-popover-auto[x-placement^="bottom"] .arrow,
.popover.bs-popover-bottom .arrow {
  top : 0;
}

.popover.bs-popover-auto[x-placement^="bottom"] .arrow::after,
.popover.bs-popover-auto[x-placement^="bottom"] .arrow::before,
.popover.bs-popover-bottom .arrow::after,
.popover.bs-popover-bottom .arrow::before {
  margin-left      : -0.8rem;
  border-top-width : 0;
}

.popover.bs-popover-auto[x-placement^="bottom"] .arrow::before,
.popover.bs-popover-bottom .arrow::before {
  top                 : -0.8rem;
  border-bottom-color : rgba(0,0,0,0.25);
}

.popover.bs-popover-auto[x-placement^="bottom"] .arrow::after,
.popover.bs-popover-bottom .arrow::after {
  top                 : calc((0.8rem - 1px) * -1);
  border-bottom-color : #fff;
}

.popover.bs-popover-auto[x-placement^="bottom"] .popover-header::before,
.popover.bs-popover-bottom .popover-header::before {
  content       : "";
  display       : block;
  position      : absolute;
  top           : 0;
  left          : 50%;
  width         : 20px;
  margin-left   : -10px;
  border-bottom : 1px solid #f7f7f7;
}

.popover.bs-popover-auto[x-placement^="left"],
.popover.bs-popover-left {
  margin-right : 0.8rem;
}

.popover.bs-popover-auto[x-placement^="left"] .arrow,
.popover.bs-popover-left .arrow {
  right : 0;
}

.popover.bs-popover-auto[x-placement^="left"] .arrow::after,
.popover.bs-popover-auto[x-placement^="left"] .arrow::before,
.popover.bs-popover-left .arrow::after,
.popover.bs-popover-left .arrow::before {
  margin-top         : -0.8rem;
  border-right-width : 0;
}

.popover.bs-popover-auto[x-placement^="left"] .arrow::before,
.popover.bs-popover-left .arrow::before {
  right             : -0.8rem;
  border-left-color : rgba(0,0,0,0.25);
}

.popover.bs-popover-auto[x-placement^="left"] .arrow::after,
.popover.bs-popover-left .arrow::after {
  right             : calc((0.8rem - 1px) * -1);
  border-left-color : #fff;
}

.popover-header {
  margin-bottom                  : 0;
  padding                        : 0.5rem 0.75rem;
  color                          : inherit;
  border-bottom                  : 1px solid #ebebeb;
  -webkit-border-top-left-radius : calc(0.1875rem - 1px);
  background-color               : #f7f7f7;
  font-size                      : 1rem;
}

.popover-header:empty {
  display : none;
}

.popover-body {
  padding : 0.5rem 0.75rem;
  color   : #313131;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display : block;
}

audio,
canvas,
video {
  display  : inline-block;
  *display : inline;
}

audio:not([controls]) {
  display : none;
}

[hidden] {
  display : none;
}

html {
  -ms-text-size-adjust     : 100%;
  -webkit-text-size-adjust : 100%;
  font-size                : 100%;
}

button,
html,
input,
select,
textarea {
  color       : #222;
  font-family : "Open Sans",
                "Helvetica Neue",
                Helvetica,
                Arial,
                sans-serif;
}

body {
  margin      : 0;
  font-size   : 1em;
  line-height : 1.4;
}

a:not(.btn) {
  color : #0075b4;
}

a:visited:not(.btn) {
  color : #003655;
}

a:focus:not(.btn),
a:hover:not(.btn) {
  color : #0079bc;
}

abbr[title] {
  border-bottom : 1px dotted;
}

b,
strong {
  font-weight : bold;
}

blockquote {
  margin : 1em 40px;
}

dfn {
  font-style : italic;
}

hr {
  display    : block;
  height     : 1px;
  margin     : 1em 0;
  padding    : 0;
  border     : 0;
  border-top : 1px solid #ccc;
}

ins {
  color           : #000;
  background      : #ff9;
  text-decoration : none;
}

mark {
  color       : #000;
  background  : #ff0;
  font-style  : italic;
  font-weight : bold;
}

code,
kbd,
pre,
samp {
  font-family : monospace,
                serif;
}

pre {
  white-space : pre;
  white-space : pre-wrap;
  word-wrap   : break-word;
}

q {
  quotes : none;
}

q::after,
q::before {
  content : "";
  content : none;
}

small {
  font-size : 85%;
}

sub,
sup {
  position       : relative;
  vertical-align : baseline;
  font-size      : 75%;
  line-height    : 0;
}

sup {
  top : -0.5em;
}

sub {
  bottom : -0.25em;
}

ol,
ul {
  margin  : 1em 0;
  padding : 0 0 0 40px;
}

dd {
  margin : 0 0 0 40px;
}

nav ol,
nav ul {
  margin     : 0;
  padding    : 0;
  list-style : none;
}

img {
  border                 : 0;
  vertical-align         : middle;
  -ms-interpolation-mode : bicubic;
}

svg:not(:root) {
  overflow : hidden;
}

figure {
  margin : 0;
}

form {
  margin : 0;
}

fieldset {
  margin  : 0;
  padding : 0;
  border  : 0;
}

label {
  cursor : pointer;
}

legend {
  border : 0;
}

button,
input,
select,
textarea {
  margin         : 0;
  vertical-align : baseline;
  font-size      : 100%;
}

button,
input {
  line-height : normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance : button;
  cursor             : pointer;
}

button[disabled],
input[disabled] {
  cursor : default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing : border-box;
  padding    : 0;
}

input[type="search"] {
  -moz-box-sizing    : content-box;
  -webkit-box-sizing : content-box;
  box-sizing         : content-box;
  -webkit-appearance : textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance : none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding : 0;
  border  : 0;
}

button:-moz-focusring {
  outline : 1px dotted black;
}

textarea {
  overflow       : auto;
  vertical-align : top;
  resize         : vertical;
}

table {
  border-collapse : collapse;
  border-spacing  : 0;
}

td {
  vertical-align : top;
}

.chromeframe {
  margin     : 0.2em 0;
  padding    : 0.2em 0;
  color      : black;
  background : #ccc;
}

.ir {
  display           : block;
  overflow          : hidden;
  border            : 0;
  background-color  : transparent;
  background-repeat : no-repeat;
  text-align        : left;
  text-indent       : -999em;
  direction         : ltr;
}

.ir br {
  display : none;
}

.hidden {
  display    : none !important;
  visibility : hidden;
}

.visuallyhidden {
  position : absolute;
  width    : 1px;
  height   : 1px;
  clip     : rect(0 0 0 0);
  margin   : -1px;
  padding  : 0;
  overflow : hidden;
  border   : 0;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position : static;
  width    : auto;
  height   : auto;
  clip     : auto;
  margin   : 0;
  overflow : visible;
}

.invisible {
  visibility : hidden;
}

.clearfix::after,
.clearfix::before {
  content : "";
  display : table;
}

.clearfix::after {
  clear : both;
}

.clearfix {}

@media
  print {
  * {
    color       : black !important;
    background  : transparent;
    filter      : none !important;
    box-shadow  : none !important;
    text-shadow : none !important;
  }

  body,
  html {
    background : transparent !important;
  }

  a,
  a:visited {
    text-decoration : underline;
  }

  abbr[title]::after {
    content : " (" attr(title) ")";
  }

  .ir a::after {
    content : "";
  }

  blockquote,
  pre {
    border            : 1px solid #999;
    page-break-inside : avoid;
  }

  thead {
    display : table-header-group;
  }

  img,
  tr {
    page-break-inside : avoid;
  }

  img {
    max-width : 100% !important;
  }

  @page {
    margin : 1cm 1.2cm 2cm;
  }

  h2,
  h3,
  p {
    widows  : 3;
    orphans : 3;
  }

  h2,
  h3 {
    page-break-after : avoid;
  }
}

footer#footer-openedx .is-disabled,
footer#footer-openedx a.disabled:not(.btn),
footer#footer-openedx a.disabled:visited:not(.btn),
footer#footer-openedx a.is-disabled:not(.btn),
footer#footer-openedx a.is-disabled:visited:not(.btn),
footer#footer-openedx a:not(.btn):disabled,
footer#footer-openedx a:visited:not(.btn):disabled {
  outline        : none;
  pointer-events : none;
  cursor         : default;
}

footer#footer-openedx .sr,
footer#footer-openedx .sr-only {
  position  : absolute;
  width     : 1px;
  height    : 1px;
  clip      : rect(1px 1px 1px 1px);
  clip      : rect(1px, 1px, 1px, 1px);
  margin    : -1px;
  padding   : 0;
  overflow  : hidden;
  border    : 0;
  word-wrap : normal;
}

footer#footer-openedx .sr,
footer#footer-openedx .sr-only {
  color      : #000;
  background : #fff;
}

.btn-brand:disabled,
.btn-default:disabled,
.btn-primary:disabled,
.btn-upgrade:disabled,
.is-disabled.btn-brand,
.is-disabled.btn-default,
.is-disabled.btn-primary,
.is-disabled.btn-upgrade {
  outline        : none;
  pointer-events : none;
  cursor         : not-allowed;
}

.btn-small.btn-brand,
.btn-small.btn-default,
.btn-small.btn-primary,
.btn-small.btn-upgrade {
  padding   : 0.625rem 0.625rem;
  font-size : 14px;
}

.breadcrumbs {
  font-size   : 0.875rem;
  line-height : line-height(small);
}

.breadcrumbs .nav-item {
  display     : inline-block;
  margin-left : 5px;
}

@media
  (max-width : 1199px) {
  .breadcrumbs .nav-item {
    max-width : 240px;
  }
}

@media
  (max-width : 767px) {
  .breadcrumbs .nav-item {
    max-width     : 140px;
    overflow      : hidden;
    text-overflow : ellipsis;
    white-space   : nowrap;
  }
}

@media
  (max-width : 575px) {
  .breadcrumbs .nav-item:not(:first-child) {
    max-width : 60px;
  }
}

.breadcrumbs .nav-item.nav-item-course {
  max-width : none;
}

.breadcrumbs .nav-item a,
.breadcrumbs .nav-item a:visited {
  color : #0075b4;
}

.breadcrumbs .nav-item a:hover {
  color : #065683;
}

.breadcrumbs .fa-angle-right {
  display     : inline-block;
  margin-left : 5px;
  color       : #313131;
}

@media
  (max-width : 767px) {
  .breadcrumbs .fa-angle-right {
    position : relative;
    top      : -5px;
  }
}

.btn-brand,
.btn-default,
.btn-primary,
.btn-upgrade {
  display          : inline-block;
  padding          : 0.625rem 1.25rem;
  border-width     : 1px;
  border-style     : solid;
  border-radius    : 0.1875rem;
  background-image : none;
  background-color : transparent;
  box-shadow       : none;
  text-transform   : capitalize;
  text-shadow      : none;
  font-size        : 16px;
  font-weight      : normal;
}

.block.btn-brand,
.block.btn-default,
.block.btn-primary,
.block.btn-upgrade {
  display : block;
  width   : 100%;
}

.btn-brand .icon,
.btn-default .icon,
.btn-primary .icon,
.btn-upgrade .icon {
  display        : inline-block;
  vertical-align : baseline;
}

.btn-brand .icon:only-child,
.btn-default .icon:only-child,
.btn-primary .icon:only-child,
.btn-upgrade .icon:only-child,
.sr-only+.btn-brand .icon,
.sr-only+.btn-default .icon,
.sr-only+.btn-primary .icon,
.sr-only+.btn-upgrade .icon {
  margin-right : 0;
}

.btn-default {
  color        : #0075b4;
  border-color : transparent;
  background   : transparent;
}

.btn-default.is-focused,
.btn-default.is-hovered,
.btn-default:focus,
.btn-default:hover {
  color            : #0075b4;
  border-color     : #0075b4;
  background-color : transparent;
}

.btn-default.is-active,
.btn-default.is-pressed,
.btn-default:active {
  color        : #0075b4;
  border-color : #0075b4;
}

.btn-default.is-disabled,
.btn-default:disabled {
  color        : #6b6969;
  border-color : #d2d0d0;
}

.btn-brand,
.btn-primary {
  color        : #fcfcfc;
  border-color : #0075b4;
  background   : #0075b4;
}

.btn-brand:focus,
.btn-brand:hover,
.btn-primary.is-focused,
.btn-primary.is-hovered,
.btn-primary:focus,
.btn-primary:hover,
.is-focused.btn-brand,
.is-hovered.btn-brand {
  color            : #fcfcfc;
  border-color     : #065683;
  background-color : #065683;
}

.btn-brand:active,
.btn-primary.is-active,
.btn-primary.is-pressed,
.btn-primary:active,
.is-active.btn-brand,
.is-pressed.btn-brand {
  border-color : #0075b4;
  background   : #0075b4;
}

.btn-brand:disabled,
.btn-primary.is-disabled,
.btn-primary:disabled,
.is-disabled.btn-brand {
  color        : #676666;
  border-color : #d2d0d0;
  background   : #f2f3f3;
}

.btn-upgrade {
  color        : #fcfcfc;
  border-color : #008100;
  background   : #008100;
}

.btn-upgrade.is-focused,
.btn-upgrade.is-hovered,
.btn-upgrade:focus,
.btn-upgrade:hover {
  color            : #fcfcfc;
  border-color     : #009b00;
  background-color : #009b00;
}

.btn-upgrade.is-disabled,
.btn-upgrade:disabled {
  color        : #fcfcfc;
  border-color : #d2d0d0;
  background   : #f2f3f3;
}

.edx-cookie-banner-wrapper {
  box-sizing  : border-box;
  background  : #f2f8fd;
  text-align  : left;
  font-family : 'Open Sans',
                "Helvetica Neue",
                Helvetica,
                Arial,
                sans-serif;
  font-size   : 1rem;
  font-weight : 400;
  line-height : 1.5;
}

.edx-cookie-banner-wrapper .alert {
  position : relative;
  padding  : 0.75rem 1.25rem;
}

.edx-cookie-banner-wrapper .alert-dismissible .close {
  position    : absolute;
  top         : 0;
  right       : 0;
  float       : right;
  padding     : 0.75rem 1.25rem;
  opacity     : 0.5;
  border      : 0;
  background  : transparent;
  text-shadow : 0 1px 0 #fff;
  font-size   : 1.5rem;
  font-weight : 700;
  line-height : 1;
}

.edx-cookie-banner-wrapper .alert-dismissible .btn {
  display        : inline-block;
  text-align     : center;
  vertical-align : middle;
  white-space    : nowrap;
}

.edx-cookie-banner-wrapper .edx-cookie-banner {
  display         : flex;
  box-sizing      : border-box;
  min-width       : 0;
  max-width       : 1200px;
  margin          : 0 auto;
  border          : none;
  background      : inherit;
  justify-content : space-between;
}

.edx-cookie-banner-wrapper .edx-cookie-banner .policy-link {
  color           : #0075b4;
  text-decoration : underline;
}

.edx-cookie-banner-wrapper .edx-cookie-banner .policy-link:focus,
.edx-cookie-banner-wrapper .edx-cookie-banner .policy-link:hover {
  color  : #075683;
  border : none;
}

.edx-cookie-banner-wrapper .edx-cookie-banner .alert-dialog {
  margin-right : 30px;
  color        : #4e4e4e;
}

.edx-cookie-banner-wrapper .edx-cookie-banner .btn.close {
  color : #0075b4;
}

.edx-cookie-banner-wrapper .edx-cookie-banner .btn.close:focus,
.edx-cookie-banner-wrapper .edx-cookie-banner .btn.close:hover {
  color  : #075683;
  cursor : pointer;
}

footer#footer-openedx article,
footer#footer-openedx aside,
footer#footer-openedx details,
footer#footer-openedx figcaption,
footer#footer-openedx figure,
footer#footer-openedx footer,
footer#footer-openedx header,
footer#footer-openedx nav,
footer#footer-openedx section {
  display : block;
}

footer#footer-openedx audio,
footer#footer-openedx canvas,
footer#footer-openedx video {
  display  : inline-block;
  *display : inline;
}

footer#footer-openedx audio:not([controls]) {
  display : none;
}

footer#footer-openedx [hidden] {
  display : none;
}

footer#footer-openedx html {
  -ms-text-size-adjust     : 100%;
  -webkit-text-size-adjust : 100%;
  font-size                : 100%;
}

footer#footer-openedx button,
footer#footer-openedx html,
footer#footer-openedx input,
footer#footer-openedx select,
footer#footer-openedx textarea {
  color       : #222;
  font-family : "Open Sans",
                "Helvetica Neue",
                Helvetica,
                Arial,
                sans-serif;
}

footer#footer-openedx body {
  margin      : 0;
  font-size   : 1em;
  line-height : 1.4;
}

footer#footer-openedx a:not(.btn) {
  color : #0075b4;
}

footer#footer-openedx a:visited:not(.btn) {
  color : #003655;
}

footer#footer-openedx a:focus:not(.btn),
footer#footer-openedx a:hover:not(.btn) {
  color : #0079bc;
}

footer#footer-openedx abbr[title] {
  border-bottom : 1px dotted;
}

footer#footer-openedx b,
footer#footer-openedx strong {
  font-weight : bold;
}

footer#footer-openedx blockquote {
  margin : 1em 40px;
}

footer#footer-openedx dfn {
  font-style : italic;
}

footer#footer-openedx hr {
  display    : block;
  height     : 1px;
  margin     : 1em 0;
  padding    : 0;
  border     : 0;
  border-top : 1px solid #ccc;
}

footer#footer-openedx ins {
  color           : #000;
  background      : #ff9;
  text-decoration : none;
}

footer#footer-openedx mark {
  color       : #000;
  background  : #ff0;
  font-style  : italic;
  font-weight : bold;
}

footer#footer-openedx code,
footer#footer-openedx kbd,
footer#footer-openedx pre,
footer#footer-openedx samp {
  font-family : monospace,
                serif;
}

footer#footer-openedx pre {
  white-space : pre;
  white-space : pre-wrap;
  word-wrap   : break-word;
}

footer#footer-openedx q {
  quotes : none;
}

footer#footer-openedx q::after,
footer#footer-openedx q::before {
  content : "";
  content : none;
}

footer#footer-openedx small {
  font-size : 85%;
}

footer#footer-openedx sub,
footer#footer-openedx sup {
  position       : relative;
  vertical-align : baseline;
  font-size      : 75%;
  line-height    : 0;
}

footer#footer-openedx sup {
  top : -0.5em;
}

footer#footer-openedx sub {
  bottom : -0.25em;
}

footer#footer-openedx ol,
footer#footer-openedx ul {
  margin  : 1em 0;
  padding : 0 0 0 40px;
}

footer#footer-openedx dd {
  margin : 0 0 0 40px;
}

footer#footer-openedx nav ol,
footer#footer-openedx nav ul {
  margin     : 0;
  padding    : 0;
  list-style : none;
}

footer#footer-openedx img {
  border                 : 0;
  vertical-align         : middle;
  -ms-interpolation-mode : bicubic;
}

footer#footer-openedx svg:not(:root) {
  overflow : hidden;
}

footer#footer-openedx figure {
  margin : 0;
}

footer#footer-openedx form {
  margin : 0;
}

footer#footer-openedx fieldset {
  margin  : 0;
  padding : 0;
  border  : 0;
}

footer#footer-openedx label {
  cursor : pointer;
}

footer#footer-openedx legend {
  border : 0;
}

footer#footer-openedx button,
footer#footer-openedx input,
footer#footer-openedx select,
footer#footer-openedx textarea {
  margin         : 0;
  vertical-align : baseline;
  font-size      : 100%;
}

footer#footer-openedx button,
footer#footer-openedx input {
  line-height : normal;
}

footer#footer-openedx button,
footer#footer-openedx input[type="button"],
footer#footer-openedx input[type="reset"],
footer#footer-openedx input[type="submit"] {
  -webkit-appearance : button;
  cursor             : pointer;
}

footer#footer-openedx button[disabled],
footer#footer-openedx input[disabled] {
  cursor : default;
}

footer#footer-openedx input[type="checkbox"],
footer#footer-openedx input[type="radio"] {
  box-sizing : border-box;
  padding    : 0;
}

footer#footer-openedx input[type="search"] {
  -moz-box-sizing    : content-box;
  -webkit-box-sizing : content-box;
  box-sizing         : content-box;
  -webkit-appearance : textfield;
}

footer#footer-openedx input[type="search"]::-webkit-search-cancel-button,
footer#footer-openedx input[type="search"]::-webkit-search-decoration {
  -webkit-appearance : none;
}

footer#footer-openedx button::-moz-focus-inner,
footer#footer-openedx input::-moz-focus-inner {
  padding : 0;
  border  : 0;
}

footer#footer-openedx button:-moz-focusring {
  outline : 1px dotted black;
}

footer#footer-openedx textarea {
  overflow       : auto;
  vertical-align : top;
  resize         : vertical;
}

footer#footer-openedx table {
  border-collapse : collapse;
  border-spacing  : 0;
}

footer#footer-openedx td {
  vertical-align : top;
}

footer#footer-openedx .chromeframe {
  margin     : 0.2em 0;
  padding    : 0.2em 0;
  color      : black;
  background : #ccc;
}

footer#footer-openedx .ir {
  display           : block;
  overflow          : hidden;
  border            : 0;
  background-color  : transparent;
  background-repeat : no-repeat;
  text-align        : left;
  text-indent       : -999em;
  direction         : ltr;
}

footer#footer-openedx .ir br {
  display : none;
}

footer#footer-openedx .hidden {
  display    : none !important;
  visibility : hidden;
}

footer#footer-openedx .visuallyhidden {
  position : absolute;
  width    : 1px;
  height   : 1px;
  clip     : rect(0 0 0 0);
  margin   : -1px;
  padding  : 0;
  overflow : hidden;
  border   : 0;
}

footer#footer-openedx .visuallyhidden.focusable:active,
footer#footer-openedx .visuallyhidden.focusable:focus {
  position : static;
  width    : auto;
  height   : auto;
  clip     : auto;
  margin   : 0;
  overflow : visible;
}

footer#footer-openedx .invisible {
  visibility : hidden;
}

footer#footer-openedx .clearfix::after,
footer#footer-openedx .clearfix::before {
  content : "";
  display : table;
}

footer#footer-openedx .clearfix::after {
  clear : both;
}

footer#footer-openedx .clearfix {}

@media
  print {
  footer#footer-openedx * {
    color       : black !important;
    background  : transparent;
    filter      : none !important;
    box-shadow  : none !important;
    text-shadow : none !important;
  }

  footer#footer-openedx body,
  footer#footer-openedx html {
    background : transparent !important;
  }

  footer#footer-openedx a,
  footer#footer-openedx a:visited {
    text-decoration : underline;
  }

  footer#footer-openedx abbr[title]::after {
    content : " (" attr(title) ")";
  }

  footer#footer-openedx .ir a::after {
    content : "";
  }

  footer#footer-openedx blockquote,
  footer#footer-openedx pre {
    border            : 1px solid #999;
    page-break-inside : avoid;
  }

  footer#footer-openedx thead {
    display : table-header-group;
  }

  footer#footer-openedx img,
  footer#footer-openedx tr {
    page-break-inside : avoid;
  }

  footer#footer-openedx img {
    max-width : 100% !important;
  }

  @page {
    footer#footer-openedx {
      margin : 1cm 1.2cm 2cm;
    }
  }

  footer#footer-openedx h2,
  footer#footer-openedx h3,
  footer#footer-openedx p {
    widows  : 3;
    orphans : 3;
  }

  footer#footer-openedx h2,
  footer#footer-openedx h3 {
    page-break-after : avoid;
  }
}

footer#footer-openedx .header-global .course-header {
  display : none;
}

footer#footer-openedx .is-deprecated {
  padding    : 4px 10px;
  color      : #8c6a11;
  background : #fff6dd;
}

@media
  print {
  .view-login .wrapper-footer footer#footer-openedx footer,
  .view-passwordreset .wrapper-footer footer#footer-openedx footer,
  .view-register .wrapper-footer footer#footer-openedx footer,
  footer#footer-openedx .nav-skip,
  footer#footer-openedx .transcript-skip,
  footer#footer-openedx .view-login .wrapper-footer footer,
  footer#footer-openedx .view-passwordreset .wrapper-footer footer,
  footer#footer-openedx .view-register .wrapper-footer footer,
  footer#footer-openedx .wrapper-footer {
    display : none;
  }
}

footer#footer-openedx body,
footer#footer-openedx html {
  font-family : "Open Sans",
                "Helvetica Neue",
                Helvetica,
                Arial,
                sans-serif;
  font-size   : 1rem;
  font-style  : normal;
  line-height : 1em;
}

footer#footer-openedx html {
  background : #fff;
}

footer#footer-openedx body {
  background : #fff;
}

footer#footer-openedx [tabindex="-1"] {
  outline : none;
}

footer#footer-openedx h1,
footer#footer-openedx h2,
footer#footer-openedx h3,
footer#footer-openedx h4,
footer#footer-openedx h5,
footer#footer-openedx h6 {
  margin : 0;
  color  : #313131;
  font   : normal 1.2em/1.2em Georgia,
           Cambria,
           "Times New Roman",
           Times,
           serif;
}

footer#footer-openedx h1 {
  margin-bottom : 30px;
  color         : #313131;
  text-align    : center;
  font          : normal 2em/1.4em "Open Sans",
                  "Helvetica Neue",
                  Helvetica,
                  Arial,
                  sans-serif;
}

footer#footer-openedx h2 {
  margin-bottom          : 15px;
  color                  : #646464;
  font                   : normal 1.2em/1.2em Georgia,
                           Cambria,
                           "Times New Roman",
                           Times,
                           serif;
  -webkit-font-smoothing : antialiased;
}

footer#footer-openedx ol+h2,
footer#footer-openedx p+h2,
footer#footer-openedx ul+h2 {
  margin-top : 40px;
}

footer#footer-openedx p {
  margin : 0;
  color  : inherit;
}

footer#footer-openedx span {
  color : inherit;
  font  : inherit;
}

footer#footer-openedx .CodeMirror span {
  font : inherit;
}

footer#footer-openedx .text-center {
  text-align : center;
}

footer#footer-openedx .text-dark-grey {
  color     : #4a4a4a;
  font-size : 24px;
}

footer#footer-openedx ol+p,
footer#footer-openedx p+p,
footer#footer-openedx ul+p {
  margin-top : 20px;
}

footer#footer-openedx p a:not(.btn),
footer#footer-openedx p a:visited:not(.btn) {
  color           : #0075b4;
  text-decoration : none;
  font            : inherit;
  font-weight     : inherit;
  transition      : all 0.1s linear 0s;
}

footer#footer-openedx p a:not(.btn):focus,
footer#footer-openedx p a:not(.btn):hover,
footer#footer-openedx p a:visited:not(.btn):focus,
footer#footer-openedx p a:visited:not(.btn):hover {
  color           : #065683;
  text-decoration : underline;
}

footer#footer-openedx a:not(.btn),
footer#footer-openedx a:visited:not(.btn) {
  color           : #0075b4;
  text-decoration : none;
  font            : inherit;
  transition      : all 0.1s linear 0s;
}

footer#footer-openedx a:not(.btn):focus,
footer#footer-openedx a:not(.btn):hover,
footer#footer-openedx a:visited:not(.btn):focus,
footer#footer-openedx a:visited:not(.btn):hover {
  color           : #065683;
  text-decoration : underline;
}

footer#footer-openedx a:not(.btn).disabled,
footer#footer-openedx a:not(.btn).is-disabled,
footer#footer-openedx a:not(.btn):disabled,
footer#footer-openedx a:visited:not(.btn).disabled,
footer#footer-openedx a:visited:not(.btn).is-disabled,
footer#footer-openedx a:visited:not(.btn):disabled {
  opacity : 0.5;
  cursor  : not-allowed;
}

footer#footer-openedx .content-wrapper {
  max-width  : 1920px;
  margin-top : 20px;
  padding    : 0 0 10px;
}

@media
  (min-width : 768px) {
  footer#footer-openedx .content-wrapper {
    padding : 0 20px 10px;
  }
}

@media
  print {
  footer#footer-openedx .content-wrapper {
    padding-bottom : 0;
  }
}

footer#footer-openedx .container {
  box-sizing : border-box;
}

footer#footer-openedx .container:after {
  content : "";
  display : table;
  clear   : both;
}

@media
  (min-width : 768px) {
  footer#footer-openedx .container {
    width     : 100%;
    min-width : 760px;
    max-width : 1180px;
    margin    : 0 auto;
    padding   : 40px 0;
  }
}

footer#footer-openedx .no-min-scale {
  min-width : 0 !important;
}

footer#footer-openedx span.edx {
  text-transform : none;
  font           : inherit;
}

footer#footer-openedx .static-container {
  width     : 100%;
  max-width : 1920px;
  margin    : 0 auto;
  padding   : 60px 0 120px;
}

footer#footer-openedx .static-container:after {
  content : "";
  display : table;
  clear   : both;
}

footer#footer-openedx .static-container .inner-wrapper {
  width  : 83.05085%;
  margin : 0 auto;
}

footer#footer-openedx .static-container ol,
footer#footer-openedx .static-container ul {
  list-style : disc;
}

footer#footer-openedx .static-container ol li,
footer#footer-openedx .static-container ul li {
  margin : 0;
  color  : #313131;
  font   : normal 1em/1.4em Georgia,
           Cambria,
           "Times New Roman",
           Times,
           serif;
}

footer#footer-openedx .static-container h1 {
  margin-bottom : 30px;
}

footer#footer-openedx .static-container h1+hr {
  margin-bottom : 60px;
}

footer#footer-openedx .static-container ol+h2,
footer#footer-openedx .static-container p+h2,
footer#footer-openedx .static-container ul+h2 {
  margin-top : 40px;
}

footer#footer-openedx .static-container ol+p,
footer#footer-openedx .static-container ul+p {
  margin-top : 20px;
}

footer#footer-openedx .loading-animation {
  width      : 100%;
  text-align : center;
  animation  : fa-spin 2s infinite linear;
}

footer#footer-openedx mark {
  padding          : 0 3px;
  color            : #333;
  border-radius    : 2px;
  background-color : #f7e9a8;
}

footer#footer-openedx .ie-banner {
  display       : none;
  min-width     : 720px;
  max-width     : 1920px;
  margin        : auto;
  padding       : 5px 20px 8px;
  color         : #3c3c3c;
  border-radius : 0 0 3px 3px;
  background    : #f4f4e0;
  text-align    : center;
  font-size     : 13px;
}

footer#footer-openedx .ie-banner strong {
  font-weight : 700;
}

footer#footer-openedx .is-hidden {
  display : none;
}

footer#footer-openedx .nav-skip,
footer#footer-openedx .transcript-skip {
  display       : inline-block;
  position      : absolute;
  top           : -600px;
  left          : 0;
  padding       : 15px 0;
  overflow      : hidden;
  border-bottom : 1px solid #fcfcfc;
  background    : #fff;
}

footer#footer-openedx .nav-skip:active,
footer#footer-openedx .nav-skip:focus,
footer#footer-openedx .transcript-skip:active,
footer#footer-openedx .transcript-skip:focus {
  position         : absolute;
  top              : 5px;
  left             : 45%;
  width            : 10%;
  height           : auto;
  margin           : 0;
  margin-left      : -30px;
  color            : white !important;
  opacity          : 0.8;
  background-color : black;
  outline          : none;
  text-align       : center;
  text-decoration  : none !important;
}

@media
  (max-width : 991px) {
  footer#footer-openedx .nav-skip:active,
  footer#footer-openedx .nav-skip:focus,
  footer#footer-openedx .transcript-skip:active,
  footer#footer-openedx .transcript-skip:focus {
    left  : 40%;
    width : 20%;
  }
}

footer#footer-openedx .is-deprecated {
  font-weight : 600;
}

.wrapper-footer {
  clear      : both;
  padding    : 25px 10px 30px 10px;
  border-top : 1px solid #c5c6c7;
  background : #7B8AD4;
  box-shadow : 0 -1px 5px 0 rgba(0,0,0,0.1);
}

.wrapper-footer footer#footer-openedx {
  box-sizing   : border-box;
  max-width    : 1920px;
  margin       : 0 auto;
  margin-right : auto;
  margin-left  : auto;
}

.wrapper-footer footer#footer-openedx:after {
  content : "";
  display : table;
  clear   : both;
}

.wrapper-footer footer#footer-openedx:after {
  content : "";
  display : table;
  clear   : both;
}

.wrapper-footer footer#footer-openedx ol,
.wrapper-footer footer#footer-openedx p,
.wrapper-footer footer#footer-openedx ul {
  font-family : "Open Sans",
                "Helvetica Neue",
                Helvetica,
                Arial,
                sans-serif;
}

.wrapper-footer footer#footer-openedx ol a,
.wrapper-footer footer#footer-openedx p a,
.wrapper-footer footer#footer-openedx ul a {
  font-family : "Open Sans",
                "Helvetica Neue",
                Helvetica,
                Arial,
                sans-serif;
}

.wrapper-footer footer#footer-openedx a {
  color           : #0075b4;
  border-bottom   : none;
  text-decoration : none !important;
  transition      : link-color 0.15s ease-in-out 0s,
                    border 0.15s ease-in-out 0s;
}

.wrapper-footer footer#footer-openedx a:active,
.wrapper-footer footer#footer-openedx a:focus,
.wrapper-footer footer#footer-openedx a:hover {
  border-bottom : 1px dotted #0075b4;
}

.wrapper-footer footer#footer-openedx .icon {
  font-family : 'FontAwesome';
  font-style  : normal;
}

.wrapper-footer footer#footer-openedx .colophon {
  display      : block;
  width        : 65.88078%;
  float        : left;
  margin-right : 2.35765%;
}

.wrapper-footer footer#footer-openedx .colophon:last-child {
  margin-right : 0;
}

@media
  screen
  and (min-width : 321px)
  and (max-width : 540px) {
  .wrapper-footer footer#footer-openedx .colophon {
    box-sizing : border-box;
    width      : 100%;
  }
}

@media
  screen
  and (max-width : 320px) {
  .wrapper-footer footer#footer-openedx .colophon {
    box-sizing : border-box;
    width      : 100%;
  }
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon {
  margin : 5px 0 30px 0;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon:after {
  content : "";
  display : table;
  clear   : both;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li {
  float        : left;
  margin-right : 15px;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
  color : #333;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:active,
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:focus,
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:hover {
  color : #0075b4;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li:last-child {
  margin-right : 0;
}

.wrapper-footer footer#footer-openedx .colophon .colophon-about:after {
  content : "";
  display : table;
  clear   : both;
}

.wrapper-footer footer#footer-openedx .colophon .colophon-about img {
  width        : 68px;
  height       : 34px;
  float        : left;
  margin-right : 0;
}

.wrapper-footer footer#footer-openedx .colophon .colophon-about p {
  width        : 74.10533%;
  float        : left;
  margin-left  : 20px;
  padding-left : 20px;
  background   : transparent url(/static/images/bg-footer-divider.jpg) 0 0 no-repeat;
  font-size    : 0.8125em;
}

.wrapper-footer footer#footer-openedx .references {
  display : inline-block;
  width   : 31.76157%;
  margin  : -10px 0 0 0;
}

.wrapper-footer footer#footer-openedx .wrapper-logo {
  margin : 15px 0;
}

.wrapper-footer footer#footer-openedx .wrapper-logo a {
  display : inline-block;
}

.wrapper-footer footer#footer-openedx .wrapper-logo a:hover {
  border-bottom : 0;
}

.wrapper-footer footer#footer-openedx .copyright {
  margin     : -2px 0 8px 0;
  color      : #767676;
  text-align : left;
  font-size  : 0.6875em;
}

.wrapper-footer footer#footer-openedx .nav-legal {
  text-align : left;
}

.wrapper-footer footer#footer-openedx .nav-legal:after {
  content : "";
  display : table;
  clear   : both;
}

.wrapper-footer footer#footer-openedx .nav-legal li {
  display   : inline-block;
  font-size : 0.6875em;
}

.wrapper-footer footer#footer-openedx .nav-legal li:not(:first-child) a::before {
  content      : "-";
  margin-right : 5px;
}

.wrapper-footer footer#footer-openedx .nav-social {
  margin     : 0;
  text-align : right;
}

.wrapper-footer footer#footer-openedx .nav-social li {
  display : inline-block;
}

.wrapper-footer footer#footer-openedx .nav-social li:last-child {
  margin-right : 0;
}

.wrapper-footer footer#footer-openedx .nav-social li a {
  display : block;
}

.wrapper-footer footer#footer-openedx .nav-social li a:active,
.wrapper-footer footer#footer-openedx .nav-social li a:focus,
.wrapper-footer footer#footer-openedx .nav-social li a:hover {
  border : none;
}

.wrapper-footer footer#footer-openedx .nav-social li img {
  display : block;
}

.wrapper-footer footer#footer-openedx .footer-about-openedx {
  display        : block;
  width          : 31.76157%;
  float          : left;
  margin-right   : 2.35765%;
  text-align     : right;
  vertical-align : bottom;
}

.wrapper-footer footer#footer-openedx .footer-about-openedx:last-child {
  margin-right : 0;
}

@media
  screen
  and (min-width : 321px)
  and (max-width : 540px) {
  .wrapper-footer footer#footer-openedx .footer-about-openedx {
    box-sizing : border-box;
    width      : 100%;
  }
}

@media
  screen
  and (max-width : 320px) {
  .wrapper-footer footer#footer-openedx .footer-about-openedx {
    box-sizing : border-box;
    width      : 100%;
  }
}

.wrapper-footer footer#footer-openedx .footer-about-openedx a {
  display : inline-block;
  float   : right;
}

.wrapper-footer footer#footer-openedx .footer-about-openedx a:hover {
  border-bottom : none;
}

.wrapper-footer footer#footer-openedx .footer-language-selector label[for=footer-language-select] {
  display : inline-block;
  cursor  : initial;
}

.wrapper-footer.edx-footer footer .copyright {
  text-align : right;
}

.wrapper-footer.edx-footer footer .nav-legal {
  text-align : right;
}

.view-login .wrapper-footer footer,
.view-passwordreset .wrapper-footer footer,
.view-register .wrapper-footer footer {
  width : 960px;
}

.view-login .wrapper-footer footer .colophon-about img,
.view-passwordreset .wrapper-footer footer .colophon-about img,
.view-register .wrapper-footer footer .colophon-about img {
  margin-top : 30px;
}
