## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

% if uses_bootstrap:
  <div class="container-fluid wrapper-footer" style="background-color: #7B8AD4;">
    <footer>
      <div class="row">
        <div class="col-md-9">
          <nav class="navbar site-nav navbar-expand-sm" aria-label="${_('About')}">
            <ul class="navbar-nav">
              % for item_num, link in enumerate(footer['navigation_links'], start=1):
                <li class="nav-item">
                  <a class="nav-link" href="${link['url']}">${link['title']}</a>
                </li>
              % endfor
            </ul>
          </nav>

          ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
          <p class="copyright">${footer['copyright']} ${u" | {icp}".format(icp=getattr(settings,'ICP_LICENSE')) if getattr(settings,'ICP_LICENSE',False) else ""}</p>

          <nav class="navbar legal-nav navbar-expand-sm" aria-label="${_('Legal')}">
            <ul class="navbar-nav">
              % for item_num, link in enumerate(footer['legal_links'], start=1):
                <li class="nav-item">
                  <a class="nav-link" href="${link['url']}">${link['title']}</a>
                </li>
              % endfor
              <li class="nav-item">
                <a class="nav-link" href="${footer['edx_org_link']['url']}">${footer['edx_org_link']['text']}</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-3">
          ## Please leave this link and use one of the logos provided
          ## The OpenEdX link may be hidden when this view is served
          ## through an API to partner sites (such as marketing sites or blogs),
          ## which are not technically powered by Open edX.
          % if not hide_openedx_link:
            <div class="footer-about-openedx">
              <p>
                <a href="${footer['openedx_link']['url']}">
                  <img src="${static.url("images/open_edx_logo.png")}" alt="${footer['openedx_link']['title']}" />
                </a>
              </p>
            </div>
          % endif
        </div>
      </div>
    </footer>
  </div>
% else:
  <div class="wrapper wrapper-footer"
       style="background-color: #7F8BD7;">
    <footer id="footer-openedx" class="grid-container"
      ## When rendering the footer through the branding API,
      ## the direction may not be set on the parent element,
      ## so we set it here.
      % if bidi:
        dir=${bidi}
      % endif
      style="display: grid;
             grid-auto-columns: auto;
             grid-template-columns: 33.33%;
             grid-column-gap: 2em;
             padding-left: 30px;
             padding-right: 30px;"
    >

      <div class="wrapper-logo" style="grid-column: 1;">
        <p>
          <a href="/">
            ## The default logo is a placeholder.
            ## You can either replace this link entirely or update
            ## the FOOTER_ORGANIZATION_IMAGE in Django settings.
            ## If you customize FOOTER_ORGANIZATION_IMAGE, then the image
            ## can be included in the footer on other sites
            ## (e.g. a blog or marketing front-end) to provide a consistent
            ## user experience.  See the branding app for details.
            <!-- <img alt="organization logo" src="${footer['logo_image']}"> -->
            <img alt="Netica logo" src="${static.url("images/netica_logo_blanco.png")}">
          </a>
        </p>
        <p class="custom-colonphon"
           style="line-height: 14px;">
          <a href="https://neticaweb.com"
             style="color: #000; font-family: 'Poppins', sans-serif;"> Acerca de </a><br>
          <a href="https://neticaweb.com"
             style="color: #000; font-family: 'Poppins', sans-serif;"> Contacto </a><br>
          <a href="https://neticaweb.com"
             style="color: #000; font-family: 'Poppins', sans-serif;"> Noticias </a><br>
          <a href="https://neticaweb.com"
             style="color: #000; font-family: 'Poppins', sans-serif;"> Política de privacidad </a><br>
          <a href="https://neticaweb.com"
             style="color: #000; font-family: 'Poppins', sans-serif;"> Derechos de autor </a>
        </p>
      </div>

      <div class="custom-pages-footer"
           style="grid-column: 2;
                  display: grid;
                  grid-auto-columns: auto;
                  grid-column-gap: 2em;">

	       <h6 style="font-size: 14px;
            margin-top: 20px;
            margin-bottom: 15px;">
		          <a href="#cursos"
                 style="font-weight:bold; color: #000; font-family: 'Poppins', sans-serif;"> Cursos </a>
	       </h6>

         <div class="col-lg-4" style="grid-column: 1;">
		         <p style="line-height: 16px;">
                  <a href="#"
                     style="color: #000; font-family: 'Poppins', sans-serif; font-weight: 500;"> Preescolar </a><br>
			            <a href="#"
                     style="color: #000; font-family: 'Poppins', sans-serif; margin-left: 2.5em"> Robótica </a><br><br><br>
			            <a href="#"
                     style="color: #000; font-family: 'Poppins', sans-serif;"> Primaria inicial </a><br>
			            <a href="#"
                     style="color: #000; font-family: 'Poppins', sans-serif; margin-left: 2.5em"> Robótica </a><br>
			            <a href="#"
                     style="color: #000; font-family: 'Poppins', sans-serif; margin-left: 2.5em"> Programación </a>
		         </p>
	       </div>

         <div class="col-lg-8" style="grid-column: 2;">
		         <p style="line-height: 16px;">
                  <a href="#"
                     style="color: #000; font-family: 'Poppins', sans-serif;"> Primaria intermedia </a><br>
			            <a href="#"
                     style="color: #000; font-family: 'Poppins', sans-serif; margin-left: 2.5em"> Robótica </a><br>
			            <a href="#"
                     style="color: #000; font-family: 'Poppins', sans-serif; margin-left: 2.5em"> Programación </a><br><br>
			            <a href="#"
                     style="color: #000; font-family: 'Poppins', sans-serif;"> Secundaria / Bachillerato </a><br>
			            <a href="#"
                     style="color: #000; font-family: 'Poppins', sans-serif; margin-left: 2.5em"> Robótica </a><br>
			            <a href="#"
                     style="color: #000; font-family: 'Poppins', sans-serif; margin-left: 2.5em"> Programación </a>
		         </p>
	      </div>
     </div>

      <!-- <div class="colophon">
        <nav class="nav-colophon" aria-label="${_('About')}">
          <ol style="display: block;">
              % for item_num, link in enumerate(footer['navigation_links'], start=1):
              <li class="nav-colophon-0${item_num}">
                <a id="${link['name']}" href="${link['url']}"
                 style="font-size: 14px;">${link['title']}</a>
              </li>
              % endfor
          </ol>
        </nav>

        % if context.get('include_language_selector', footer_language_selector_is_enabled()):
            <%include file="${static.get_template_path('widgets/footer-language-selector.html')}"/>
        % endif
      </div> -->
        <!-- <div class="wrapper-logo">
          <p>
            <a href="/">
              ## The default logo is a placeholder.
              ## You can either replace this link entirely or update
              ## the FOOTER_ORGANIZATION_IMAGE in Django settings.
              ## If you customize FOOTER_ORGANIZATION_IMAGE, then the image
              ## can be included in the footer on other sites
              ## (e.g. a blog or marketing front-end) to provide a consistent
              ## user experience.  See the branding app for details.
              <img alt="organization logo" src="${footer['logo_image']}">
              <img alt="Netica logo" src="${static.url("images/netica_logo_blanco.png")}">
            </a>
          </p>
        </div> -->

        <!-- ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
        <p class="copyright" style="background-color: #000; color: #fff;">${footer['copyright']} ${u" | {icp}".format(icp=getattr(settings,'ICP_LICENSE')) if getattr(settings,'ICP_LICENSE',False) else ""}</p> -->

        <!-- <nav class="nav-legal" aria-label="${_('Legal')}">
          <ul>
            % for item_num, link in enumerate(footer['legal_links'], start=1):
              <li class="nav-legal-0${item_num}">
                <a href="${link['url']}">${link['title']}</a>
              </li>
            % endfor
            <li><a href="${footer['edx_org_link']['url']}">${footer['edx_org_link']['text']}</a></li>
          </ul>
        </nav> -->
      <!-- </div> -->

      ## Please leave this link and use one of the logos provided
      ## The OpenEdX link may be hidden when this view is served
      ## through an API to partner sites (such as marketing sites or blogs),
      ## which are not technically powered by OpenEdX.
      % if not hide_openedx_link:
      <div class="custom-footer-about-openedx" style="grid-column: 3;">
        <p>
          <a href="${footer['openedx_link']['url']}">
            <img src="${static.url("images/open_edx_logo.png")}" alt="${footer['openedx_link']['title']}"
                 style="max-width: 100%; height: auto; padding-top: 90px;"/>
          </a>
        </p>
      </div>
      % endif
    </footer>
  </div>

  <div class="footer-legal-openedx" style="background-color: #000; height: 31.5px;">
    ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
    <p class="copyright"
       style=" color: #fff;
               font-size: 10px;
               font-family: 'Poppins', sans-serif;
               line-height: 31.5px;
               padding-left: 30px;
               padding-right: 30px;
               font-weight: 500;">
      ${footer['copyright']} ${u" | {icp}".format(icp=getattr(settings,'ICP_LICENSE')) if getattr(settings,'ICP_LICENSE',False) else ""}
    </p>
  </div>
% endif
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
